* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #e6eff6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conta {
    width: 45%;
    height: 47%;
    background-color: white;
    border-radius: 7px;
    
}
.upper-part{
    height: 47%;
    padding: 30px 50px 30px 30px;
    box-sizing: border-box;
}
.lower-part{
    height: 53%;
}
h3{
    color: #48AEAD;
    
}
h4{
    color: #d4e28c;
}
p{
    color: rgb(192, 190, 190);
    font-weight: 400;
}
.lower-part{
    display: flex;
    
    
}
.part1, .part2{
    width: 50%;
    
}
.part1{
    background-color: #2BB3B1;
    padding: 30px;
    box-sizing: border-box;
}
.part2{
background-color: #4ABEBD;
padding: 30px 50px 30px 30px;
box-sizing: border-box;
}
h5,h1{
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}
.part1 p:nth-last-of-type(1){
    color: #e6eff6;
    font-size: 14.3px;
}
button{
    height: 45px;
    width: 219px;
    background-color: #BFDF32;
    color: #ECFFFF;
    border-radius: 7px;
    border-color: transparent;
}
small{
    color: #E6EFF6;
    display: inline-block;
}